@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@theme {
	--font-looped: 'IBM Plex Sans Thai Looped', sans-serif;
}


body {
	font-family: 'Georgia', 'IBM Plex Sans Thai Looped', serif;
	font-size: 16px;
	line-height: 20px;
	background-color: #fafaf9;
}

.link {
	@apply flex items-center gap-1 hover:underline;
}

.paragraph {
	@apply flex flex-col gap-4 leading-7;
}