@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  color: white;
  background: #000;
}

.heading {
  @apply text-4xl font-medium text-white underline-offset-4 underline decoration-4 decoration-wavy decoration-blue-500;
}
.sub-heading {
  @apply text-2xl font-normal text-gray-600
}
.paragraph {
  @apply text-xl font-medium leading-loose tracking-normal font-[family-name:var(--font-sarabun-regular)] my-8 lg:mx-24;
}

.link-title {
  @apply underline-offset-4 h4
  hover:underline-offset-4 hover:underline decoration-2 decoration-wavy decoration-blue-500;
}

.link {
  @apply underline-offset-4 p
  hover:underline-offset-4 hover:underline decoration-2 decoration-wavy decoration-blue-500;
}
.link-white {
  @apply underline-offset-4 p-white
  hover:underline-offset-4 hover:underline decoration-2 decoration-wavy decoration-blue-500;
}
.nav-link.hovered {
  transition-duration: 300ms;
  color: #b3b3b3c1;  
}
.nav-link {
  transition-duration: 300ms;
  color: white;
}

.main-title {
  @apply text-7xl font-medium; 
}

.title {
  @apply text-4xl font-medium; 
}

.sub-title {
  @apply text-2xl font-normal text-neutral-300; 
}
.sub-title-article {
  @apply text-xl font-normal text-neutral-300; 
}
.p {
  @apply text-base font-normal leading-relaxed text-neutral-300 tracking-wide;
}
.p-white {
  @apply text-base text-white;
}
.p-title {
  @apply text-lg font-normal leading-relaxed tracking-wide text-neutral-300;
}
.underline-highlight {
  @apply underline-offset-4 underline decoration-2 decoration-wavy decoration-blue-500;
}
.h1 {
  @apply text-3xl font-medium;
}
.h2{
  @apply text-2xl font-medium;
}
.h3{
  @apply text-xl font-medium;
}
.h4{
  @apply text-lg font-medium;
}
.h5{
  @apply text-base font-medium;
}
.head-page {
  @apply flex flex-col items-center justify-start min-h-full font-[family-name:var(--font-noto-sans)] mx-6 md:mx-32 mt-16;
}
.head-page-relative {
  @apply flex flex-col justify-start min-h-screen font-[family-name:var(--font-noto-sans)] mt-16 mx-6 md:mx-32;
}

.badge-pink {
  @apply px-2 py-0.5 bg-pink-500 rounded-full text-[12px] mb-3 font-medium;
}
.badge-blue {
  @apply px-2 py-0.5 bg-blue-500 rounded-full text-[12px] mb-3 font-medium;
}
.badge-yellow {
  @apply px-2 py-0.5 bg-yellow-500 text-black rounded-full text-[12px] mb-3 font-medium;
}
.badge-green {
  @apply px-2 py-0.5 bg-green-800 rounded-full text-[12px] font-medium mb-3;
}
.badge-orange {
  @apply px-2 py-0.5 bg-orange-700 rounded-full text-[12px] font-medium mb-3;
}

/* Scroll Bar */
::-webkit-scrollbar {
  width: 16px;               /* width of the entire scrollbar */
}

::-webkit-scrollbar-track {
  background: #0a0a0a;        /* color of the tracking area */
}

::-webkit-scrollbar-thumb {
  background-color: #fafafa;    /* color of the scroll thumb */
  border-radius: 100px;       /* roundness of the scroll thumb */
  border: 3px solid black;  /* creates padding around scroll thumb */
  
}
